<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>猫様の紹介</title>
</head>
<body>
    <h2>猫様の紹介</h2>

    <ul>
        {% for cat in object_list %}
            <li><h3>{{ cat }}</h3></li>
                <ul>
                    <li>生まれ: {{ cat.born }}</li>
                    <li>性別: {{ cat.get_sex_display }}</li>
                    <li>性格: {{ cat.character }}</li>
                    <li>推しポイント: {{ cat.point }}</li>
                </ul>

                <img src="{{ cat.image.url }}" alt="{{ cat.name }}" width="30%" height="30%">
        {% endfor %}
    </ul>
   
</body>
</html>
