img {
    width: 50%;
    height: 50%;
    object-fit: cover;
  }
  
  
.post_title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
  