{% extends "base.html" %}
{% load myfilters %}

{% block title %}猫様の紹介 | {{ block.super }}{% endblock %}
{% block description %}猫様の紹介ページです。{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <main class="col-9">
        <h2>猫様の紹介</h2>

        <ul>
            {% for cat in object_list %}
                <li><h3>{{ cat }}</h3></li>
                    <ul>
                        <li>生まれ: {{ cat.born }}</li>
                        <li>性別{{ cat.get_sex_display }}</li>
                        
                        <li>性格</li>
                            <ul>
                                {% for character in cat.character|split:'/' %}
                                    <li>{{ character }}</li>
                                {% endfor %}
                            </ul>
                     
                        <li>推しポイント</li>
                            <ul>
                                {% for point in cat.point|split:'/' %}
                                    <li>{{ point }}</li>
                                {% endfor %}
                            </ul>
                            
                        
                    </ul>
    
                    <img src="{{ cat.image.url }}" alt="{{ cat.name }}" width="30%" height="30%">
            {% endfor %}
        </ul>
      
      {% include "blog/snippets/pagination.html" %}
    </main>


    <aside class="col-3">
      {% include "blog/snippets/sidebar.html" %}
    </aside>

  </div>
</div>
{% endblock %}

<!--
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>猫様の紹介</title>
</head>
<body>
    <h2>猫様の紹介</h2>

    <ul>
        {% for cat in object_list %}
            <li><h3>{{ cat }}</h3></li>
                <ul>
                    <li>生まれ: {{ cat.born }}</li>
                    <li>性別: {{ cat.get_sex_display }}</li>
                    <li>性格: {{ cat.character }}</li>
                    <li>推しポイント: {{ cat.point }}</li>
                </ul>

                <img src="{{ cat.image.url }}" alt="{{ cat.name }}" width="30%" height="30%">
        {% endfor %}
    </ul>
   
</body>
</html>
-->