<div class="card mb-3">
    <div class="card-header">
      猫様
    </div>
    <ul class="list-group list-group-flush">
      {% for cat in cats|dictsort:"id" %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{% url 'blog:cat_post' cat.slug %}" class="card-link">{{ cat.name }}</a>
        <span class="badge badge-primary badge-pill">{{ cat.num_posts }}</span>
      </li>
      {% endfor %}
    </ul>
  </div>
  
  <div class="card">
    <div class="card-header">
      特徴
    </div>
    <ul class="list-group list-group-flush">
      {% for feature in features|dictsortreversed:"num_posts"|slice:":5" %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{% url 'blog:feature_post' feature.slug %}" class="card-link">{{ feature.name }}</a>
        <span class="badge badge-primary badge-pill">{{ feature.num_posts }}</span>
      </li>
      {% endfor %}
    </ul>
    <div class="card-body text-center">
      <a href="{% url 'blog:feature_list' %}" class="card-link">すべての特徴を見る</a>
    </div>
  </div>