{% extends "base.html" %}

{% block title %}#{{ place.name }} | {{ block.super }}{% endblock %}
{% block description %}「{{ place.name }}」の投稿一覧ページです。{% endblock %}

{% block content %}
<div class="container">
  
  <div class="row">
    
    <main class="col-md-8">
      <h2 class="mb-4">「#{{ place.name }}」の投稿一覧</h2>
      {% include "blog/snippets/main_post_list.html" %}
    </main>
    
    <aside class="col-md-4">
      {% include "blog/snippets/sidebar.html" %}
    </aside>

  </div>
</div>
{% endblock %}